<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students, faculty, and other researchers.
<br>
<br>
  <strong>
    We recommend that you have previous knowledge or familiarity of R and Rstudio
    for this workshop. We will have a demo using Github during the workshop so while not necessary, it may be 
    beneficial to create a <a href="https://github.com/join?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home">Github 
    account</a> and <a href="https://rpubs.com/users/new">Rpubs account</a> prior to attending the workshop. 
  </strong>
</p>
